   .one {
       font-weight: 300;
       font-style: italic;
       font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   
   .two {
       font-weight: 700;
       font-family: "cairo", sans-serif;
   }
   
   .three {
       font-weight: 400;
       font-family: "jomhuria", sans-serif;
   }